openapi: 3.2.0
info:
  title: Atmospore Forecast Pollen API
  description: Global pollen forecasts with species-level accuracy. 21 individual species, 14-day forecasts, area averages with min/max, and multilingual species metadata.
  version: 1.0.0
  contact:
    name: Atmospore
    url: https://atmospore.com
    email: support@atmospore.com
  termsOfService: https://atmospore.com/terms-of-service
servers:
- url: https://pollenapi.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Pollen
paths:
  /v1/pollen:
    get:
      summary: Pollen forecast at a point
      description: Interpolated pollen forecast at a specific coordinate. Returns species-level data with risk levels and an overall daily risk score.
      operationId: getPollenForecast
      parameters:
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/dt'
      - $ref: '#/components/parameters/forecast_days'
      - $ref: '#/components/parameters/species'
      responses:
        '200':
          description: Forecast data
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      location:
                        type: object
                        properties:
                          lat:
                            type: number
                          lon:
                            type: number
                      units:
                        type: string
                        example: grains/m³
                      generated_at:
                        type: string
                        format: date-time
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        overall_risk:
                          type: string
                          enum:
                          - low
                          - moderate
                          - high
                          - very high
                        species:
                          type: object
                          additionalProperties:
                            $ref: '#/components/schemas/SpeciesData'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing API key
        '403':
          description: Invalid API key
        '429':
          description: Daily quota exceeded
      tags:
      - Pollen
components:
  parameters:
    dt:
      name: dt
      in: query
      required: true
      schema:
        type: string
        format: date
      description: Start date (YYYY-MM-DD)
    lon:
      name: lon
      in: query
      required: true
      schema:
        type: number
      description: Longitude coordinate
    forecast_days:
      name: forecast_days
      in: query
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 14
      description: Number of forecast days
    lat:
      name: lat
      in: query
      required: true
      schema:
        type: number
      description: Latitude coordinate
    species:
      name: species
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated species or groups (tree, grass, weed, all). Defaults to all.
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
    SpeciesData:
      type: object
      properties:
        value:
          type: number
          description: Interpolated pollen concentration
        risk_level:
          type: string
          enum:
          - low
          - moderate
          - high
          - very high
        display_name:
          type: string
          description: Human-readable species name
        category:
          type: string
          enum:
          - tree
          - grass
          - weed
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key from your Atmospore account settings
