openapi: 3.2.0
info:
  title: Atmospore Pollen Forecast Species API
  description: Global pollen forecasts with species-level accuracy. 21 individual species, 14-day forecasts, area averages with min/max, and multilingual species metadata.
  version: 1.0.0
  contact:
    name: Atmospore
    url: https://atmospore.com
    email: support@atmospore.com
  termsOfService: https://atmospore.com/terms-of-service
servers:
- url: https://pollenapi.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Species
paths:
  /v1/species:
    get:
      summary: Species metadata
      description: All supported pollen species with display names in multiple languages, categories, and risk thresholds. No authentication required. Cache this response client-side.
      operationId: getSpecies
      security: []
      responses:
        '200':
          description: Species metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      total_species:
                        type: integer
                      categories:
                        type: array
                        items:
                          type: string
                      risk_levels:
                        type: array
                        items:
                          type: string
                      units:
                        type: string
                  data:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        display_name:
                          type: string
                        category:
                          type: string
                        names:
                          type: object
                          additionalProperties:
                            type: string
                        risk_thresholds:
                          type: array
                          items:
                            type: number
      tags:
      - Species
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key from your Atmospore account settings
